@media (min-width: 899px) {
  .logo{
    width: 90%;
    padding: 5% 0% 5% 0%;
  }
  .social{
    padding-top: 10%;
    text-align: right !important;
  }
  #imagenes{
    width: 100%;
    text-align: center;
    margin-top: 30% !important;
  }
}

@media (max-width: 900px) {
  .logo{
    width: 35%;
    padding: 1%;
  }

  .social{
    padding: 1% 0% 1% 0%;
  }
}

/* Fin de los Media queries */
.body{
  background-color: black;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 16px;
  color: white;
}

.menu{
  background-color: black;
  text-align: center;
}

#imagenes{
  width: 100%;
  margin-top: 2%;
}

.comments{
  padding-top: 1%;
}

.icon{
  font-size: 30px;
}

.rightcolumn{
  background-color: #DE407A;
}

form{
  padding-top: 7%;
}

.inner-addon .glyphicon {
  color: black;
  position: absolute;
  padding: 9% 3%;
}

.left-addon input{
  padding-left:  30px;
}
