@media (min-width:900px) {
  #salsa, #vallenato{
    padding-top: 17%;
  }
  #coments{
    margin-top: 2%;
  }
}

@media (max-width:800px) {
  #right-column{
    display: none;
  }
}

.logo1{
  width: 8%;
}

header{
  padding: 2% 2%;
}

nav{
  text-align: justify;
  padding: 2% 2%;
}

ul{
  float: right;
}

#imagenes{
  text-align: center;
}

#salsa, #vallenato{
  width: 80%;
  margin-bottom: 1%;
}

#right-column{
  background-color: red;
}

#fila3, #fila4, #fila5, #fila6{
  margin: 0% 2% 0% 1%;
}

#search{
  padding-top: 5%;
  background-color: blue;
  padding: 2%;
}
