*{
  font-family: 'Josefin Sans', sans-serif !important;
}

body{
  background: url(../images/playa.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.contenedor{
  background-color: rgba(109, 110, 115, 0.5);
}

header{
  color: white;
}

p{
  text-align: justify;
}
h4, h4 + h6{
  text-align: right;
}

h4 + h6{
  color: pink;
}

li{
  border: 0.5px solid #E0E0E0;
  text-align: center;
}

textarea{
  margin: 0%;
}
